version: 2
jobs:
  build:
    # Ref: https://mmhaskell.com/blog/2018/4/25/dockerizing-our-haskell-app
    docker:
    - image: haskell:9.10.2-slim-bullseye
    steps:
    - run: apt update
    - run: apt install -y zip jq curl git openssh-client pkg-config
    - run: stack upgrade
    - run: "echo 'tcp     6       TCP' > /etc/protocols"
    - run: "stack config --system-ghc set system-ghc --global true"
    - checkout

    - restore_cache:
        keys:
        - 'dependencies-{{ checksum "stack.yaml" }}-{{ checksum "haskell-jp-blog.cabal" }}'
        - 'dependencies-'
    - run: stack build --compiler=ghc-9.10.2 --no-terminal --only-dependencies
    - save_cache:
        key: 'dependencies-{{ checksum "stack.yaml" }}-{{ checksum "haskell-jp-blog.cabal" }}'
        paths:
        - ~/.stack/
        - .stack-work/

    - restore_cache:
        keys:
        - 'executable-{{ checksum "src/site.hs" }}'
        - 'executable-'
    - run: stack --compiler=ghc-9.10.2 --local-bin-path='.' --no-terminal install --pedantic
    - save_cache:
        key: 'executable-{{ checksum "src/site.hs" }}'
        paths:
        - ./site

    - run: ./site build
    - store_artifacts: { path: ./generated-site/ }

    - run: |
        if [ "$CIRCLE_BRANCH" != master ] ; then
          printenv |
          grep -E '^CIRCLE_|^HOME' | # Circle CIの環境変数を抽出して、preview botのサーバーにJSONとして渡す https://circleci.com/docs/2.0/env-vars/
          jq -c -s -R 'split("\n")
            | map (split("=")
              | select(.[0] != null)
              | {(.[0]): .[1:] | join("=")})
              | add' |
          curl -H 'Content-Type:application/json' -d @- \
            http://haskell-jp-blog-artifact.hask.moe/
        fi
    - persist_to_workspace:
        root: .
        paths:
          - ./generated-site

  deploy:
    docker:
    - image: haskell:9.10.2-slim
    steps:
    - checkout:
        path: ~/project
    - add-ssh-keys:
        fingerprints:
          - "9f:97:4e:99:72:c0:62:1d:db:9e:8e:ce:62:3f:0a:52"
    - run: apt update
    - run: apt install -y make ssh-client
    - attach_workspace:
       at: .
    - run: |
        git config --global user.email "ci@haskell.jp"
        git config --global user.name "Circle CI User"
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        STACK_LOCAL_INSTALL_PATH=dummy make -W site -W dummy/site -e deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
