.notice {
  font-size: 70%;
  margin-top: 0.5em;
}

span.author {
  margin-right: 1em;
}

span.meta {
  margin: 1em;
}

.hash-target {
  margin-bottom: 1em;
}
.hash-target:target {
  background-color: #FFFCA7;
  border-color: #FDE14F;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
}

#md-post-content table tr {
  border-top: 1px solid #cccccc;
}

#md-post-content table th,
#md-post-content table td {
  border: 1px solid #cccccc;
  padding: 6px 13px;
}

ul.social-buttons {
  list-style: none;
  vertical-align: middle;
  padding: 5px;
}
ul.social-buttons li {
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  background-color: #F3C677;
  border-color: #080808;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.navbar-brand > img {
  width: 150px;
  position: relative;
  bottom: 30%;
}

.navbar .navbar-nav > li > a {
  color: #777;
  font-weight: bold;
  text-decoration: none;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #000;
}

#post-navigation {
  display: flex;
  align-items: center;
}

#post-navigation div {
  display: flex;
  align-items: center;
}

#post-navigation a {
  color: #313537;
  font-size: smaller;
}

:target {
  margin-top: -60px;
  padding-top: 60px;
}

#table-of-contents-outer {
  margin-bottom: 4ex;
}

#table-of-contents {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin-left: 5%;
  margin-right: 10%;
  padding: 0.5em 1em;
  font-size: 80%;
}

#table-of-contents .table-of-contents-title {
  font: normal x-large serif;
  margin-bottom: 1ex;
}

#table-of-contents a {
  font-family: sans;
  text-decoration: none;
}

#table-of-contents a:hover {
  text-decoration: underline;
}

#table-of-contents ul {
  padding-left: 1em;
}

#table-of-contents code {
  color: black;
  background-color: transparent;
}

span.link-to-here-outer {
  display: inline-block;
  font: bold 8pt sans;
  vertical-align: middle;
  width: 50pt;
  margin-left: -50pt;
}

.link-to-here-outer a {
  text-decoration: none;
  color: white;
}

span.link-to-here {
  display: inline-block;
  visibility: hidden;
  padding: 5pt;
  background-color: #606060;
  vertical-align: middle;
}

span.link-to-here-outer:hover a .link-to-here {
  visibility: visible;
}

/*
 * Overwrite bootstrap styles for skylighting
 */
div.sourceCode {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre.sourceCode {
  background-color: unset;
  border: unset;
  border-radius: unset;
}
