.notice-ga {
  font-size: 70%;
  margin-top: 1em;
}

.hash-target {
  margin-bottom: 1em;
}
.hash-target:target {
  background-color: #FFFCA7;
  border-color: #FDE14F;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
}

#md-post-content table tr {
  border-top: 1px solid #cccccc;
}

#md-post-content table th,
#md-post-content table td {
  border: 1px solid #cccccc;
  padding: 6px 13px;
}