$for(posts)$
  $if(draft)$
  $else$
    <div class="post-preview">
        <a href="$url$">
            <h2 class="post-title">
                $heading$
            </h2>
            <h3 class="post-subtitle">
                $subHeading$
            </h3>
        </a>
        <p class="post-meta">Posted by $postedBy$ on $date$</p>
    </div>
    <!-- Remove the hr for the time being because it looks weird.  We might have
    to fix it if we ever have more than one post. -->
    <!-- <hr> -->
  $endif$
$endfor$
